
/*CONFIGURAÇÕES ESTRUTURAIS DA PAGINA ==================================================*/

body{
	margin:0px;
	
	background-image:url("https://raw.githubusercontent.com/LucasLomar/lucaslomar.github.io/Media/Background.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.all{
	height:100%;
	width:100%;
}



.cabecalho /*Propriedades do Cabeçalho da pagina*/
{
	margin-left:10%;
	margin-right:10%;
	
	border-left-style:solid;
	border-right-style:solid;
	border-left-color:#000000;
	border-right-color:#000000;
}

.cabecalho img{
	position:relative;
	height:100%;
	width:100%;
}

/*===========================================================================================================*/

.menu{
	position:relative;
}

/*====================================================================================================================*/



.corpo{
	
	margin-left:10%;
	margin-right:10%;
	
	padding-bottom:10%;
	background-color:gray;
	
	border-left-style:solid;
	border-right-style:solid;
	border-left-color:#000000;
	border-right-color:#000000;
	
}

.background{
	background-image:url("https://raw.githubusercontent.com/LucasLomar/lucaslomar.github.io/Media/Background.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-color:black;
}

.rodape{
	background-color:black;
	padding-top:50px;
	margin-left:10%;
	margin-right:10%;
	
	border-top-color:black;
	border-top-style:solid;
	
	font-size:20px;
	font-family:Impact;
	color:white;
	text-align:center;
}



/* CONFIGURAÇÕES DOS ELEMENTOS DA PAGINA */

.titulo00{
	padding-bottom:0%;
	
}

.titulo00 img{
	height:70%;
	width:70%;
}

/* AJUSTES DE TAMANHO E POSIÇÃO DAS IMAGENS DOS BOTOES DO MENU*/

.imgbotao img{
	height:100%;
	width:100%;
}

/* AJUSTES DE TAMANHO E POSIÇÃO DAS IMAGENS DA TABELA 01*/

.imglink00 img{
	
	
	height:70%;
	width:70%;
	
}

.imglink01 img{
	
	
	
	height:70%;
	width:70%;
	
	}

.imglink02 img{
	
	
	height:70%;
	width:70%;
	
}

.imglink03 img{
	
	height:70%;
	width:70%;
}

.imglink04 img{
	
	height:70%;
	width:70%;
}

.imglink05 img{
	
	height:70%;
	width:70%;
}

/*CONFIGURAÇÕES DAS TABELAS*/


.tabela00{		/* TABELA DO TITULO 00*/
	position:relative;
	padding-top:10%;
	padding-right:10%;
	padding-left:10%;
}

.tabela01{		/* TABELA DAS CATEGORIAS - LINHA 01*/
	position:relative;
	padding-top:5%;
	padding-right:5%;
	padding-left:10%;
}

.tabela02{		/* TABELA DAS CATEGORIAS - LINHA 02*/
	position:relative;
	padding-top:5%;
	padding-right:5%;
	padding-left:10%;
}

.tabela03{		/* TABELA DO TITULO 01*/
	position:relative;
	padding-top:10%;
	padding-right:10%;
	padding-left:10%;
}

.tabela04{		/* TABELA DAS SUGESTÕES DE LEITURA*/
	position:relative;
	padding-top:5%;
	padding-right:5%;
	padding-left:10%;
}

.tabela05{		/* TABELA DO TITULO 02*/
	position:relative;
	padding-top:10%;
	padding-right:10%;
	padding-left:30%;
}

